.main{
    height: 100vh;
    min-width: 50px;
    transition:.5s;
}
.income_grid{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 5%;
}
@media only screen and (max-width: 1024px){
    .main{
        margin-left: 0!important;
        width: 100%!important;
    }
}
@media only screen and (max-width: 768px){
    .income_grid{
        flex-direction: column;
    }
}