.main{
    width: 98%;
    border: 1px solid lightgray;
    margin: 5% auto;
}
.main > div:nth-child(1){
    border-bottom: 1px solid lightgray;
    text-align: left;
    color: indigo;
}
.main > div:nth-child(1) > h3{
    margin-left: 2%;
}
.flex_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.flex_container > div:nth-child(1) > div {
    padding-top: 15%;
}
.flex_container > div:nth-child(1) > div img{
    margin: 5%;
    cursor: pointer;
}
.monthly_budget{
    padding-top: 10%;
}
.monthly_budget > div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15% 0;
}

@media only screen and (max-width: 768px){
    
    .flex_container{
        flex-direction: column;
    }
    .flex_container > div:nth-child(1) > div img{
        display: block;
        margin: 10% auto;
    }

}
